{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <form id="change-form" action="/user/change" method="post">
        <input type="hidden" value="{{user.id}}" name="id">
      <div class="input-group">
        <label for="change-nick">닉네임</label>
        <input id="change-nick" type="text" name="nick" value="{{user.nick}}"></div>
      <div class="input-group">
        <label for="change-password">비밀번호</label>
        <input id="change-password" type="password" name="password" value="{{user.passowrd}}">
      </div>
      <button id="change-btn" type="submit" class="btn">정보 변경</button>
    </form>
  </div>
{% endblock %}

{% block script %}
{% endblock %}