{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div class="following">
            <div>{{following.nick}}</div>
            <input type="hidden" class="following-id" value="{{following.id}}">
            <button class="unfollow">언팔로우</button>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll(".unfollow").forEach(function (tag){
      tag.addEventListener('click', function() {
        const myId = document.querySelector("#my-id").value;
        if(myId){
          const userId = tag.parentNode.querySelector(".following-id").value;
          console.log(myId, userId);
          if(confirm("언팔로우하시겠습니까?")){
            axios.post(`/user/${userId}/unfollow`)
              .then(() => {
                location.reload();
              })
              .catch((err) => {
                console.error(err);
              })
          }
        }
      })
    })
  </script>
{% endblock %}